Django~=4.2
djangorestframework~=3.14.0
asgiref~=3.6.0
attrs~=23.1.0
django-filter==23.2
django-use-email-as-username~=1.3.0
djangorestframework-simplejwt~=5.2.2
drf-spectacular~=0.26.0
inflection~=0.5.1
jsonschema~=4.17.3
Pillow==9.5.0
pip==23.1.2
PyJWT~=2.6.0
pyrsistent~=0.19.3
pytz==2023.3
PyYAML~=6.0
sqlparse~=0.4.3
uritemplate~=4.1.1
python-environ
celery~=5.2.2
django-celery-beat~=2.5.0
django-celery-results~=2.5.0
Redis
django-cors-headers==3.14.0
